section .centerContent {
    width: 50%;
}

section .centerContent p {
    margin: 40px 0;
    font-size: 1.2em;
    /* text-align: justify; */
}

section .centerContent .contactEmail {
    color: #ff0157;
    font-weight: bold;
    font-size: 1.5em;
}

section .centerContent .contactEmail span {
    color: black;
    font-weight: bold;
}